<div (dblclick)="openFolder()" *ngIf="fileDroovy.type=='FOLDER'; else fileImg">

  <mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar src="./../../assets/images/folder.svg" alt="" >
      <mat-card-title>{{ fileDroovy.name}}</mat-card-title>
      <mat-card-subtitle>{{fileDroovy.taille | fileSize}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-avatar src="./../../assets/images/googledrive.png" *ngIf='fileDroovy.sourceProperties["GoogleDrive"]' alt=""
           (click)="propertiesGoogledrive()">
      <img mat-card-avatar src="./../../assets/images/onedrive.png" *ngIf='fileDroovy.sourceProperties["OneDrive"]'
           alt=""
           (click)="propertiesOnedrive()">
      <img mat-card-avatar src="./../../assets/images/dropbox.png" *ngIf='fileDroovy.sourceProperties["Dropbox"]' alt=""
           (click)="propertiesDropbox()">
    </mat-card-content>
  </mat-card>

</div>


<ng-template #fileImg>

  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="./../../assets/images/file.svg" alt="" >
       <mat-card-title>{{ fileDroovy.name}}</mat-card-title>
      <mat-card-subtitle>{{fileDroovy.taille | fileSize}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-avatar src="./../../assets/images/googledrive.png" *ngIf='fileDroovy.sourceProperties["GoogleDrive"]' alt=""
           (click)="propertiesGoogledrive()">
      <img mat-card-avatar src="./../../assets/images/onedrive.png" *ngIf='fileDroovy.sourceProperties["OneDrive"]' alt=""
           (click)="propertiesOnedrive()">
      <img mat-card-avatar src="./../../assets/images/dropbox.png" *ngIf='fileDroovy.sourceProperties["Dropbox"]' alt=""
           (click)="propertiesDropbox()">
    </mat-card-content>
  </mat-card>

</ng-template>



<div *ngIf="display_properties">


  <mat-card>
    <mat-card-header>
      <h4>{{name_drive}}</h4>
    </mat-card-header>
    <mat-card-content>
      <br>

      <mat-chip-list>
        <mat-chip>Dernière modification : {{last_update_date | date:'dd-MM-yyyy HH:mm:ss ' }}</mat-chip>
        <mat-chip>Création : {{creation_date | date:'dd-MM-yyyy HH:mm:ss ' }}</mat-chip>
      </mat-chip-list>
      <mat-form-field>
        <input matInput [(ngModel)]="new_name">
      </mat-form-field>
      <br>
      <button  color="primary"  mat-button (click)="rename()" >Renommer</button>
      <button color="primary"  mat-button (click)="delete()">Supprimer</button>
      <button  color="primary" mat-button (click)="download()">Télécharger</button>
      <br>
      <app-search-folder [drive]="choosenDrive" (choice)="move($event)"></app-search-folder>
      <br>
    </mat-card-content>
  </mat-card>
</div>

