<div class="row">

  <div class="col s12 m7">
    <h4 class="header">Ajouter un drive</h4>
    <div class="card horizontal small">

      <div class="card-stacked">
        <div class="card-content">
          <p> Drive(s) connecté(s) : </p>
          <mat-list>
            <mat-list-item *ngIf="auth.user.connectedToGoogleDrive">Google Drive</mat-list-item>
            <mat-list-item *ngIf="auth.user.connectedToOneDrive">OneDrive</mat-list-item>
            <mat-list-item *ngIf="auth.user.connectedToDropbox">DropBox</mat-list-item>
          </mat-list>

        </div>
        <div class="card-action">
          <button class="waves-effect waves-light btn" (click)="authGoogleDrive()">Google Drive</button>
          <button class="waves-effect waves-light btn" (click)="authOneDrive()">One Drive</button>
          <button class="waves-effect waves-light btn" (click)="authDropBox()">DropBox</button>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
