
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Déplacer le fichier
      </mat-panel-title>
      <mat-panel-description>
        Choisir un dossier de destination
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item *ngFor="let folder of listFolder" (click)="goInFolder(folder)">{{folder.name}}</mat-list-item>
    </mat-list>

    <button mat-button  (click)="back()" >Précédent</button>
    <button mat-button (click)="chooseFolder()" >Déplacer</button>

  </mat-expansion-panel>
</mat-accordion>
