<mat-card>
  <mat-card-header>
    <h4>{{this.data.fileDisplay.name_drive}}</h4>
  </mat-card-header>
  <mat-card-content>
    <br>

    <mat-chip-list>
      <mat-chip>Dernière modification : {{this.data.fileDisplay.last_update_date | date:'dd-MM-yyyy HH:mm:ss ' }}</mat-chip>
      <mat-chip>Création : {{this.data.fileDisplay.creation_date | date:'dd-MM-yyyy HH:mm:ss ' }}</mat-chip>
    </mat-chip-list>
    <mat-form-field>
      <input matInput [(ngModel)]="this.data.fileDisplay.new_name">
    </mat-form-field>
    <br>
    <button  color="primary"  mat-button (click)="onRename()" >Renommer</button>
    <button color="primary"  mat-button (click)="onDelete()">Supprimer</button>
    <button  color="primary" mat-button (click)="onDownload()">Télécharger</button>
    <br>
    <app-search-folder [drive]="this.data.fileDisplay.choosenDrive" (choice)="this.data.fileDisplay.move($event)"></app-search-folder>
    <br>
  </mat-card-content>
</mat-card>
