

<mat-toolbar color="primary">
  <mat-toolbar-row >
    <span>Droovy
      <button mat-button (click)="onSignOut()">Déconnexion</button>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button (click)="navigatePrevious()"><i
      class="material-icons">arrow_back</i></button>
  </mat-toolbar-row>
</mat-toolbar>



<mat-tab-group color="primary">
  <mat-tab label="Fichiers">
    <app-file-display *ngFor="let file of fileList" [fileDroovy]="file" (action)="initRoot($event)" [file_manager]="this"></app-file-display>
      <mat-divider></mat-divider>
  </mat-tab>
  <mat-tab label="Ajouter un drive"><app-auth-drive></app-auth-drive></mat-tab>
</mat-tab-group>
