<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Droits
      </mat-panel-title>
      <mat-panel-description>
        Partagé avec
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let permission  of this.listPermission">
        <a>{{permission.name}}</a>&nbsp;
        en tant que &nbsp;<a> {{permission.right}}</a>
      </mat-list-item>
    </mat-list>

  </mat-expansion-panel>
</mat-accordion>
